<div class="card bg-base-100 shadow-sm animate-fade-in">
  <figure>
    <img
      [src]="(product()?.images ?? []) | productImage"
      [alt]="product()?.title ?? 'Producto sin título'" />
  </figure>
  <div class="card-body">
    <h2 
      class="card-title font-montserrat text-xl cursor-pointer hover:text-accent hover:underline transition-colors duration-200" 
      [routerLink]="['/product', product()?.id]"
    >
      {{ product()?.title ?? 'Producto sin título' }}
    </h2>
    
    <p>{{ (product()?.description ?? 'Sin descripción') | slice:0:70 }}...</p>
    <div class="card-actions justify-end">
        <a 
            class="link link-accent"
            [routerLink]="['/product', product()?.id]"
        >Ver producto</a>
    </div>
  </div>
</div>