<h1 class="text-3xl font-bold font-montserrat">Todos los productos -
    <span class="text-accent uppercase">{{genderParam()}}</span>
</h1>
<h2 class="text-xl mb-5">Para todos los gustos</h2>


@if (productsResource.isLoading()) {
    <div class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-4 mt-2 gap-3">
        @for (i of [1,2,3,4,5,6]; track i) {
            <div class="card bg-base-100 shadow-sm animate-fade-in">
                <div class="w-full md:h-56 lg:h-60 xl:h-80 bg-gray-200 rounded-2xl"></div>
                <div class="card-body">
                    <h2 class="card-title font-montserrat text-xl">Producto sin título</h2>
                    <p>Sin descripción</p>
                </div>
            </div>
        }
    </div>
} @else if (productsResource.error()) {
    <shared-alert-soft
        [typeAlert]="'alert-error'"
        [messageAlert]="'Error al cargar los productos de la categoría ' + genderParam()"
    />
} @else {

  @let data = productsResource.value();

  @if (data?.products?.length === 0) {
    <shared-alert-soft
        [typeAlert]="'alert-warning'"
        [messageAlert]="'No hay productos disponibles'"
    />
  } @else {
    <div class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-4 mt-2 gap-3">
      @for (product of data!.products; track product.id) {
        <front-product-card [product]="product" />
      }
    </div>

    <shared-pagination 
      [pages]="productsResource.value()?.pages ?? 0"
      [currentPage]="paginationService.currentPage()"
    />
  }

}